@using Tracker.Models;
@{
  Layout = "_Layout";
}



<div class="links">
  <h4 class="link"><a href="/" >Back to Home</a></h4>
  <h4 class="link"><a href="/vendors" >Back to All Vendors</a></h4>
</div>
<div class="container" id="center-this">
      <h4>Title: @Model["order"].Title</h4>
    <h4>Description: @Model["order"].Description</h4>
    <h4>Price: $@Model["order"].Price</h4>
    <h4>Date: @Model["order"].Date</h4>
</div>